<header>
  <h1>AST-Builder</h1>

  <div class="parser_wrapper">
    <select {{ on 'change' this.updateLanguage }} aria-label="Language">
      {{#each this.languages as |lang|}}
        <option value={{lang}}>{{lang}}</option>
      {{/each}}
    </select>
    <span id="label-parser" class="label-text">Parser:</span>
    <select {{ on 'change' this.updateParser}} aria-labelledby="label-parser">
      {{#each this.parsers as |parser|}}
        <option value={{parser}}>{{parser}}</option>
      {{/each}}
    </select>
  </div>
  <div id="options">
    <DarkModeToggle/>
  </div>
  <span class="label-text">{{this.parser}}: <strong>{{this.parserVersion}}</strong></span>
</header>
<main>
  <AstMaker 
  @mode={{this.mode}} 
  @code={{this.sampleCode}} 
  @parser={{this.parser}}>
  </AstMaker>
</main>
<footer>
  <p>
    Built with <a href="https://emberjs.com">Ember {{this.emberVersion}}</a> |
    <a href="https://github.com/rajasegar/ast-node-builder">ast-node-builder:  {{this.nodeBuilderVersion}}</a> |
    <a href="https://rajasegar.github.io/ast-finder">AST-Finder</a> |
    <a href="https://rajasegar.github.io/jarvis">JARVIS</a> |
    <a href="https://github.com/rajasegar/ast-builder">Github</a> |
    <a href="https://github.com/rajasegar/ast-builder/issues">Report issues</a> 
  </p>
</footer>
